/* 
font-family: 'Kumbh Sans', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Space Mono', monospace; 
*/

:root {
  --primary-color: #1e213f;
  --accent-color: #f87070;
  --accent-1: #f87070;
  --accent-2: #70f3f8;
  --accent-3: #d881f8;
  --gray-dark: #d7e0ff;
  --gray-light: #eff1fa;
  --white: #ffffff;
  --dark-blue: #161932;
  --gradient-dark: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
  --timer-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
  background-color: var(--primary-color);
  color: var(--gray-dark);

  --font: "Kumbh Sans";
  font-family: var(--font);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  flex-flow: column;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 28px;
  line-height: 35px;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: var(--font);
}

label {
  font-size: 12px;
  color: #1e213f;
  mix-blend-mode: normal;
  opacity: 0.4;
}

input {
  border: none;
  outline: none;
  font-family: var(--font);
  color: var(--primary-color);
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  background: var(--gray-light);
  border-radius: 10px;
  padding: 16px;
  max-width: 108px;
  margin-top: 6px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="radio"] {
  display: none;
}

.font input[type="radio"]:checked + label {
  background: var(--dark-blue);
  color: var(--white);
}

.color input[type="radio"]:checked + label:before {
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 18px;
  color: var(--dark-blue);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.row > .flex-between > label {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--gray-light);
  opacity: 1 !important;
  font-size: 15px !important;
  cursor: pointer;
}

.row > .flex-between > label[for="sans"] {
  font-family: "Kumbh Sans", sans-serif;
}

.row > .flex-between > label[for="serif"] {
  font-family: "Roboto Slab", serif;
}

.row > .flex-between > label[for="mono"] {
  font-family: "Space Mono", monospace;
}

.row > .flex-between > label[for="color_one"] {
  background: var(--accent-1);
}

.row > .flex-between > label[for="color_two"] {
  background: var(--accent-2);
}

.row > .flex-between > label[for="color_three"] {
  background: var(--accent-3);
}

.justify-center {
  justify-content: center;
}

.bordered {
  border-top: 1px solid #e3e1e1;
  border-bottom: 1px solid #e3e1e1;
  padding-bottom: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.primary-btn {
  padding: 16px 0;
  background: var(--accent-color);
  color: var(--white);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 32px;
  width: 140px;
}

.logo {
  margin-bottom: 40px;
}

.mode-picker ul {
  display: flex;
  background-color: var(--dark-blue);
  border-radius: 31px;
  padding: 7px;
}

.mode-picker ul li {
  display: flex;
  list-style-type: none;
  height: 48px;
  padding: 0 22px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
}

.mode-picker ul li:hover {
  color: var(--white);
  transition: all 0.2s;
}

.mode-picker ul li.active {
  background-color: var(--accent-color);
  border-radius: 31px;
  color: var(--dark-blue);
}

.timer-wrapper {
  width: 410px;
  height: 410px;
  border-radius: 50%;
  margin: 50px 0;
  background: var(--gradient-dark);
  box-shadow: var(--timer-shadow);
}

.timer-holder {
  width: 366px;
  height: 366px;
  border-radius: 50%;
  background-color: var(--dark-blue);
}

.svg-timer {
  text-anchor: middle;
  stroke-linecap: round;
}

.timer-ring {
  transform: rotate(-90deg);
  transform-origin: center;
  stroke: var(--accent-color);
  stroke-dasharray: 1000;
  transition: 1s;
}

text {
  fill: var(--gray-dark);
}

#timer {
  font-size: 100px;
  line-height: 124px;
  text-align: center;
  letter-spacing: -5px;
}

#timer_btn {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 15px;
  cursor: pointer;
}

#timer_btn:hover {
  fill: var(--accent-color);
}

.settings-btn > button > img {
  transition: all.6s;
  transform-origin: center;
}

.settings-btn > button > img:hover {
  transform: rotate(90deg);
  transition: all.6s;
}

#modal {
  display: none;
}

.settings-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(10, 12, 28, 0.5);
}

.settings-holder {
  width: 540px;
  height: 490px;
  background: transparent;
}

.settings {
  width: 100%;
  height: 464px;
  background: var(--white);
  border-radius: 25px;
  color: var(--dark-blue);
}

.settings .close {
  opacity: 0.7;
  cursor: pointer;
}

.settings .close:hover {
  opacity: 1;
}

.settings .title {
  border-bottom: 1px solid #e3e1e1;
  padding: 30px 40px;
}

.settings .time-selector h3 {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.settings .time-selector {
  padding: 0 40px;
}

.settings .time-selector .row {
  padding: 20px 0;
}

.settings .time-selector .row.time .col {
  width: 140px;
}

/* Animations */
@keyframes fill {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
